<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Foxtable.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- 本部分定义 My.Application.Log 的登录配置-->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- 取消以下部分的注释，以写入应用程序事件日志-->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- 取消以下部分的注释，并用应用程序名替换 APPLICATION_NAME，以写入应用程序事件日志-->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <userSettings>
    <Foxtable.My.MySettings>
      <setting name="LastDate" serializeAs="String">
        <value/>
      </setting>
      <setting name="LoadDate" serializeAs="String">
        <value/>
      </setting>
    </Foxtable.My.MySettings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="C1.C1Zip.4"
          publicKeyToken="79882d576c6336da"
          culture="neutral" />
        <bindingRedirect oldVersion="4.0.20191.359" newVersion="4.0.20183.338" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="C1.Win.Bitmap.4"
          publicKeyToken="944ae1ea0e47ca04"
          culture="neutral" />
        <bindingRedirect oldVersion="4.0.20183.338" newVersion="4.0.20191.359" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="C1.C1Excel.4"
          publicKeyToken="79882d576c6336da"
          culture="neutral" />
        <bindingRedirect oldVersion="4.0.20191.359" newVersion="4.0.20183.338" />
      </dependentAssembly>
    </assemblyBinding>
    <AppContextSwitchOverrides value="Switch.UseLegacyAccessibilityFeatures=false;Switch.UseLegacyAccessibilityFeatures.2=false;Switch.UseLegacyAccessibilityFeatures.3=false" />
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
